.container{
    width: 100%;
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block; /*puts player 1 and player 2 on the same line*/
    /* position: relative;
    left: 7%; */
    margin: auto;
}

body {
    /* background-color: #292E46; */
    background-color: #212434;
}

h1{
    margin-top:0;
    margin-bottom: 30px;
    /* margin: auto; */
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 1rem;
}

img {
    width: 80%;
  }  
  
  .play-again{
    display:block;
    margin: auto;
    border: 1px solid #4ECCA3;
    background: #4ECCA3;
    padding: 0.7rem;
    border-radius: 1rem;
    font-family: 'Lobster', cursive;
    color: #212434;
    font-size: 1.5rem;
    position: relative;
    top: 2rem;
  }

  .play-again:hover{
    background: transparent;
    color: #4ECCA3;
    cursor: pointer;
    
  }

  footer {
    margin: 6% auto 2%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }